{
  "env": {
    "browser": true,
    "es2021": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",
    "standard",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended",
    "plugin:import/warnings",
    "plugin:import/typescript",
    "prettier/standard",
    "prettier/react",
    "plugin:react-perf/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "prettier",
    "import",
    "react-perf"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-var-requires": "off",
    "camelcase": "off",
    "space-before-function-paren": "off",
    "react/prop-types": "off",
    "no-use-before-define": "off",
    "multiline-ternary": ["error", "never"],
    "react-perf/jsx-no-new-object-as-prop": [
      "error",
      {
        "nativeAllowList": "all"
      }
    ],
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "pathGroupsExcludedImportTypes": ["builtin"],
        "pathGroups": [
          {
            "pattern": "@*/**",
            "group": "parent",
            "position": "before"
          }
        ],
        "groups": [
          ["builtin", "external", "internal"],
          "unknown",
          ["parent", "sibling", "index"],
          "object"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}
